[Desktop Entry]
Version=1.0
Type=Application
Name=Notepad
Comment=Write and edit text
Exec=/opt/safekids/bin/launch-notepad.sh
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;Kids;
