[Desktop Entry]
Version=1.0
Type=Application
Name=Paint
Comment=Draw and edit pictures
Exec=/opt/safe-os/bin/launch-paint.sh
Icon=applications-graphics
Terminal=false
Categories=Graphics;Kids;
